/* FOOTER */

footer {
    margin: 20px;
    padding: 20px;
    border-top: 1px solid aliceblue;
    text-align: center;
    justify-content: space-between;
  }
  
  .logoIg {
    width: 30px;
    margin-right: 20px;
  }
  
  .logoW {
    width: 30px;
  }
  
  .logoFb {
    width: 30px;
    margin-left: 20px;
  }